<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include 'employee/components/stylesheets.html' %}
  
</head>

<body>
  {% include 'employee/components/header.html' %}

  <main class="mt-5">
    <div class="container">
      <table class="table table-hover table-borderless border">
        <thead class="border-bottom bg-dark text-white">
          <tr class="fs-5">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <a href="./edit" class="btn btn-primary btn-sm">Edit</a>
              <a href="./delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
              <a href="./edit" class="btn btn-primary btn-sm">Edit</a>
              <a href="./delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>Thornton</td>
            <td>
              <a href="./edit" class="btn btn-primary btn-sm">Edit</a>
              <a href="./delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  {% include 'employee/components/scripts.html' %}
</body>

</html>