{% extends 'auth_page/base.html' %}

{% block head %}
<title>TUDStore | Login</title>
{% endblock %}

{% block content %}
<h1 class="form__header">
  Welcome back :)
</h1>
<div class="text-muted mt-4 mb-3 fs-5">
  To keep connected with us please login with your personal information by username and password
  <div class="icon">
    <i class="fa-solid fa-bell"></i>
  </div>
</div>
{% if messages %}
{% for message in messages %}
<div class="message message-{{ message.tags }} my-2">
  {{message}}
</div>
{% endfor %}
{% endif %}
<form action="" method="POST" id="login-form" class="d-flex flex-column align-items-start form">
  {% csrf_token %}
  {{ formContent }}
</form>
<div class="form-btn d-flex align-items-center justify-content-between mt-3">
  <button form="login-form" type="submit" class="btn btn-submit rounded-pill px-4 py-2 text-white">
    Login
  </button>
  <a href="{% url 'auth_register' %}">Register</button>
</div>
{% endblock %}